<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiCircuitBreakersMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiCircuitBreakers">
            <id property="id" column="id" />
            <result property="targetServiceId" column="target_service_id" />
            <result property="failureThreshold" column="failure_threshold" />
            <result property="successThreshold" column="success_threshold" />
            <result property="timeoutMs" column="timeout_ms" />
            <result property="isActive" column="is_active" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,target_service_id,failure_threshold,success_threshold,timeout_ms,is_active,
        is_deleted,created_at,updated_at
    </sql>
</mapper>
