<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiDefinitionsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiDefinitions">
            <id property="id" column="id" />
            <result property="projectId" column="project_id" />
            <result property="name" column="name" />
            <result property="version" column="version" />
            <result property="description" column="description" />
            <result property="basePath" column="base_path" />
            <result property="swaggerJson" column="swagger_json" />
            <result property="status" column="status" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,name,version,description,base_path,
        swagger_json,status,is_deleted,created_at,updated_at
    </sql>
</mapper>
