<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiLogsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiLogs">
            <id property="id" column="id" />
            <result property="apiId" column="api_id" />
            <result property="userId" column="user_id" />
            <result property="action" column="action" />
            <result property="details" column="details" />
            <result property="ipAddress" column="ip_address" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,api_id,user_id,action,details,ip_address,
        is_deleted,created_at
    </sql>
</mapper>
