<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiPricingMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiPricing">
            <id property="id" column="id" />
            <result property="apiId" column="api_id" />
            <result property="endpointId" column="endpoint_id" />
            <result property="pointsPerCall" column="points_per_call" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,api_id,endpoint_id,points_per_call,created_at,updated_at
    </sql>
</mapper>
