<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiPermissionsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiPermissions">
            <id property="id" column="id" />
            <result property="apiKeyId" column="api_key_id" />
            <result property="apiId" column="api_id" />
            <result property="rateLimit" column="rate_limit" />
            <result property="status" column="status" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,api_key_id,api_id,rate_limit,status,is_deleted,
        created_at,updated_at
    </sql>
</mapper>
