<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiTargetServicesMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiTargetServices">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="description" column="description" />
            <result property="baseUrl" column="base_url" />
            <result property="healthCheckPath" column="health_check_path" />
            <result property="timeoutMs" column="timeout_ms" />
            <result property="isActive" column="is_active" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,base_url,health_check_path,timeout_ms,
        is_active,is_deleted,created_at,updated_at
    </sql>
</mapper>
