<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiUsageStatsMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiUsageStats">
            <id property="id" column="id" />
            <result property="apiKeyId" column="api_key_id" />
            <result property="apiId" column="api_id" />
            <result property="endpointId" column="endpoint_id" />
            <result property="requestTimestamp" column="request_timestamp" />
            <result property="responseTime" column="response_time" />
            <result property="statusCode" column="status_code" />
            <result property="requestSize" column="request_size" />
            <result property="responseSize" column="response_size" />
            <result property="ipAddress" column="ip_address" />
            <result property="userAgent" column="user_agent" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,api_key_id,api_id,endpoint_id,request_timestamp,response_time,
        status_code,request_size,response_size,ip_address,user_agent,
        is_deleted
    </sql>
</mapper>
