<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ApiWebhooksMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ApiWebhooks">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="apiId" column="api_id" />
            <result property="eventType" column="event_type" />
            <result property="targetUrl" column="target_url" />
            <result property="secretKey" column="secret_key" />
            <result property="status" column="status" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,api_id,event_type,target_url,secret_key,
        status,is_deleted,created_at,updated_at
    </sql>
</mapper>
